* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "Baloo Tamma 2";
}
.ff-bt2 {
  font-family: "Baloo Tamma 2";
}

img {
  width: 100%;
  height: auto;
}

/* main css start */

.btn-warning {
  background-color: #ffdf65;
  border-color: #ffdf65;
}
